.container {
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.calculatorOuter{
    display: flex;
    flex-direction: column;
    height:500px;
    width: 360px;
    background-color: #33353d;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
}

.calculatorDisplay {
    margin-top: 20px;
    height: 80px;
    width: 90%;
    background-color: antiquewhite;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.calculatorInput {
    height: 75%;
    background-color: #33353d;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#displayLog {
    border: none;
    width: 100%;
    text-align: left;
    font-size: 15px;
    background-color: darkgray;
}

#display {
    height: 100%;
    width: 100%;
    font-size: 36px;
    text-align: right;
    border: none;
    background-color:darkgray;
}

.numpadContainer {
   display: flex;
   flex-wrap: wrap;
}

.numpad {
    width: 70%;
}

.numpadRow {
    margin-left: 40px;
}

.topFunctions {
     margin-left: 40px;
     margin-top: 7px;
}

.sideFunctions {
    width: 30%;
    align-self: flex-end;
}

.button {
    height: 50px;
    width: 60px;
    margin: 3px;
    background-color: #8693AB;
    border:none;
    font-size: 20px;
    /* rounds button edges */
    border-radius: 8px;
    box-shadow: 0 2px #747474;
}

.button:hover {
    background-color: #49566d;
}

.button:active {
    transform: translateY(4px);
    
}

input:disabled {
    color: black;
}

input::placeholder {
    color: black;
}

.specialButton {
    background-color: #bdd4e7;
}

.specialButton:hover {
    background-color: #4a5974;
}

.clearButton {
    background-color: #b52a18;
}

.clearButton:hover {
    background-color: #720805;
}